.mainColor{ 
    background: rgba(228, 12, 12, 0.815) !important;
}
.bordeBotones{
    border-color: rgb(22, 22, 22) !important;
    color:rgb(27, 27, 27) !important;
}
.bordeBotones:hover{
    background: rgba(107, 7, 7, 0.815) !important;
    color:rgb(129, 125, 125) !important;
}
.bordeInputs:focus{
    box-shadow:0 0 0 0.5px rgba(228, 12, 12, 0.815) !important;
    border-color: rgba(228, 12, 12, 0.815) !important;
}
.botonesPrincipales{
    margin-bottom: 5%;
 
    
}
#cerrarsesion{
    margin-right: 10% !important;
    float: right !important;
    color:white !important;
    text-decoration: none !important;
}
#botonInsert{
    margin-left: 10% !important;
    float: left;
}
#navegacionMenu{
    margin-bottom: 5%;
}

.botonesNavegacion{
    margin-left:7%;
}
#cerrarsesion > a{
    color:white;
    text-decoration: none;
}

#piePagina{
    margin-top: 5%;
    background: rgba(228, 12, 12, 0.815) !important;
}

#textoPie > a{
    Color:white;
    text-decoration: none;
}

@media (max-width:1300px) {
    body{
        zoom: 80%;
        max-zoom: 80%;
      }
 }
.alignCelda {
    text-align: center;
    vertical-align: middle !important;
}
.wInput{
    width: 100% !important;
}